PORT=3000

SUPABASE_URL=SUA_URL_SUPABASE
SUPABASE_SERVICE_ROLE_KEY=SUA_SERVICE_ROLE_KEY

OPENAI_API_KEY=SUA_OPENAI_API_KEY
OPENAI_MODEL=gpt-4.1-mini

WHATSAPP_ACCESS_TOKEN=SEU_TOKEN_META
WHATSAPP_VERIFY_TOKEN=condominio_reserva_serra_token
WHATSAPP_PHONE_NUMBER_ID=1154857187706659
